<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title style="text-align: center;">
     Restaurant
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >

  <div class="fondo" style="padding-left: 2%; padding-right: 2%; background-color: cadetblue" >
<br>
<ion-list >
  <H1 style="text-align: center;">Recetas</H1>
  <ion-item *ngFor="let p of Personas" >
    
    <ion-card style="background-color: black; width: 300px;">
      <img alt="{{p.foto}}" src="{{p.foto}}" style="width: 100%; height: auto;">
    
    <ion-label><h1 style="color: white;">&nbsp;{{p.nombre_P}}</h1></ion-label>
    <br>
    <ion-label style="color: white;">&nbsp;&nbsp;{{p.Desc}}</ion-label>
    <br>
    <ion-label style="color: white;">&nbsp;&nbsp;{{p.repeticion}} </ion-label>
    <br>
    <ion-label style="color: white;">&nbsp;&nbsp;{{p.tiempo}}</ion-label>
    <br>

  </ion-card>
  </ion-item>

</ion-list>
</div>

<br><br><br>

</ion-content>
